*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Debug*/

.debug header{
    background-color: cyan;
}

.debug ul{
    background-color: orange;
}

.debug #lower-top-main{
    background-color: purple;
    height: 500px;
}

.debug #top-main-container{
    background-color: lightgoldenrodyellow;
}

.debug .border{
    border: 2px solid black;
}

.debug .text{
    height: 100%;
}

.debug .image{
    height: 100%;
}

.debug #top-main{
    background-color: rosybrown;
    z-index: -2;
}

.debug .container{
    background-color: lightskyblue;
    height: 1000px;
    padding: 50px;
}

.debug .col{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.debug .box{
    background-color: lightgoldenrodyellow;
    height: 100%;
}

.debug .box .column{
    background-color: purple;
    height: 100%;
}
/* inizio CSS */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 9999;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
}

nav li{
    display: inline-block;
    padding: 0 14px;
}

main{
    padding-top: 80px;
}

#top-main{
    padding: 70px;
    position: relative;
}

#background-top-main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 550px;
    background-color: #b4d0e7;
    z-index: -1;
}

#lower-top-main{
    display: flex;
}

#top-main-container{
    max-width: 1300px;
    margin: 0 auto;
}

.text{
    width: 40%;
}

.image{
    width: 60%;
}

.col{
    max-width: 1170px;
    margin: 0 auto;
}

.box{
    display: flex;
}

.box .column{
    width: calc(100% / 3);
}