*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Debug*/


/* inizio CSS */
.space-bet{
    justify-content: space-between;
}

.large-box{
    max-width: 1300px;
    margin: 0 auto;
}

.col{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 -2px 5px 5px lightgray;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    display: inline-block;
    padding: 0 10px;
}

nav li img{
    height: 20px;
}

nav li a{
    text-decoration: none;
    color: black;
}

.button{
    text-decoration: none;
    padding: 10px 20px;
}

.button.blue{
    color: white;
    background-color: #0061ff;
}

.button.white{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}

main{
    padding-top: 80px;
}


.container{
    padding: 40px;
}

.upper{
    position: relative;
    bottom: -90px;
}

#top-main{

    background-color: #b4d0e7;
}

#businesschoice{
    padding-top: 100px; 
}

#top-main h1{
    font-size: 85px;
}

#top-main p{
    padding-bottom: 35px;
}

#top-main span{
    display: block;
    padding: 40px 0 50px;
}

#lower-top-main img{
    width: 100%;
}

#lower-top-main i{
    font-size: 55px;
    margin-top: 65px;
}

h2{
    font-size: 50px;
    padding-bottom: 30px;
}

.check i{
    color: white;
    border-radius: 50%;
    transform: scale(0.7);
}

.check.yes i{
    border: 7px solid blue;
}

.check.no i{
    border: 3px solid gray;
}

span.check{
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 30px;
}

.check.yes::before{
    border: 5px solid #0061ff;
}

.contakt p{
    padding: 20px 100px 0 0;
}

.box{
    display: flex;
}

.box.space-bet .column{
    width: calc(90% / 3);
    border: 1px solid lightgray;
    min-width: 230px;
}

.column-head{
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.column-body{
    padding: 30px 30px 80px;
}

h3{
    font-size: 25px;
}

.value{
    font-weight: bold;
    margin: 15px 0 10px;
    display: block;
}

.column i{
    font-size: 14px;
}

.column .lifetime{
    color: gray;
}

.column span.info{
    padding-bottom: 10px;
    display: block;
}

.column .section-info{
    height: 230px;
    margin-left: 10px;
    padding: 25px 0;
}

.column .info{
    text-indent: -8px;
    padding: 8px 0;
}

.column-body .button.blue{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.column-body .under-link{
    display: inline-block;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.column-body h4{
    padding-top: 30px;
}

.column-body .down i{
    color: #0061ff;
}

.contakt{
    border: 1px solid lightgray;
}

.partner .w-40{
    padding: 50px 30px;
}

.partner p{
    padding: 10px 0 25px;
}

.section-box{
    display: flex;
    flex-wrap: wrap;
}

.section{
    width: calc(100% / 3);
}

.card{
    padding: 10px;
}

.card img{
    width: 100%;
}

.company{
    margin-top: 100px;
}

#left-side,#right-side{
    flex-wrap: wrap;
}

#left-side, #middle-side, #right-side{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.logo{
    width: 50%;
    height: 50%;
    position: relative;
}

.logo img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

#middle-side{
    padding: 40px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

#middle-side img{
    width: 60%;
}

hr{
    width: 20%;
    border: none;
    height: 1px;
    background-color: lightgray;
    margin: 30px 0;
}

.container.bg{
    background-color: #b4d0e7;
}


.logo.bg1{
    background-color: #a2d39b;
    border: 20px solid #d1e9cd;
}

.logo.bg2{
    background-color: #61082b;
}


.logo.bg3{
    background-color: #0093ce;
}

.logo.bg4{
    background-color: #ff1c1c;
}


.logo.bg5{
    background-color: #d5001f;
}


.logo.bg6{
    background-color: #b4d0e7;
}


.logo.bg7{
    background-color: #0d2481;
}


.logo.bg8{
    background-color: #ffd830;
}


.trial{
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.trial h2{
    font-size: 30px;
}

.trial h2{
    color: #61082b;
}

.question{
    padding: 80px 0;
    min-width: 650px;
}

.question span{
    display: inline-block;
    width: 90%;
    height: 100px;
    line-height: 100px;    
}

.one-question{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

footer{
    background-color: black;
    height: 500px;
}

.footer-column{
    width: calc(100% / 5);
    padding: 100px 0;
}

footer h3{
    color: white;
    padding-bottom: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

#language{
    color: gray;
    padding: 30px 0;
    border-top: 1px solid gray;

}